*{
  margin: 0;
  padding: 0;
}

.container{
  padding: 10px;  
}

.enter_task{
  font-weight: bolder;
  font-size: 25px;
}
.enter_description{
  font-weight: bolder;
  font-size: 25px;
}

.buttons{
  margin-top: 10px;
}
#btn{
  margin-left: 10px;
}